<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<base th:replace="fragments/bootstrap::head"/>

<title>Crear nuevo Usuario</title>

<style type="text/css">
	.search-form {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
</style>
<script type="text/javascript">
	
</script>
</head>
<body>

	<div th:replace="fragments/main-navbar::main-navbar"></div>
	
	<!-- There is a valid User id in request -->
	<div class="container" th:if="${userIdInvalid == null or userIdInvalid != true}">
		<div class="row mx-auto">
			<div class="col-md-4 text-center">
				<div th:replace="users/fragments/admin-users-sidemenu::side-menu"></div>
			</div>
			<div class="col-md-8 mt-5">
				<div th:replace="users/fragments/edit-user-fragments/edit-user-personal-info::edit-user-personal-info-form"></div>
				<div th:replace="users/fragments/edit-user-fragments/edit-user-contact-info::edit-user-contact-info-form"></div>
				<div th:replace="users/fragments/edit-user-fragments/edit-user-security-info::edit-user-security-info-form"></div>
			</div>
		</div>
	</div>
</body>
</html>