<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<base th:replace="fragments/bootstrap::head"/>

<title>Crear nuevo Usuario</title>

<style type="text/css">
	.search-form {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
</style>
<script type="text/javascript">
	
</script>
</head>
<body>

	<div th:replace="fragments/main-navbar::main-navbar"></div>
	
	<!-- There is a valid User id in request -->
	<div class="container" th:if="${userIdInvalid == null or userIdInvalid != true}">
		<div class="row mx-auto">
			<div class="col-md-4 text-center">
				<div th:replace="users/fragments/admin-users-sidemenu::side-menu"></div>
			</div>
			<div class="col-md-8 mt-5">
			
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Informaci&oacute;n general</button>
						<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Informaci&oacute;n de contacto</button>
						<button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">credenciales de seguridad</button>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<div th:replace="users/fragments/edit-user-fragments/edit-user-profile-info::edit-user-profile-info-form"></div>
					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
						<div th:replace="users/fragments/edit-user-fragments/edit-user-contact-info::edit-user-contact-info-form"></div>
					</div>
					<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>