<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	
	<div th:fragment="products-list" th:remove="tag">
		<h2 class="h2 m-3 mb-5 text-center">Productos Disponibles:</h2>
		
		<div th:if="${products == null or products.empty}" class="container">
			<p>Actualmente no hay Productos disponibles.</p>
		</div>
		
	
		<div th:if="${products !=null and !products.empty}" class="container">
			<table class="table">
				<thead class="table-light">
					<tr>
						<th>Nombre</th>
						<th>Descripci&otilde;n</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${products}">
						<th th:text="${product.name}"></th>
						<td th:text="${product.description}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>