<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:fragment="new-user-form" th:remove="tag">
		<h3 class="h3 mt-5">Crear nuevo Usuario</h3>
		<form class="mt-5" th:object="${newUser}" method="post" th:action="@{/admin/users/add}">
			<div class="row">
				<div class="col-md-6 mb-3">
					<label for="username" class="form-label">Nombre de usuario</label>
					<input th:field="*{username}" type="text" class="form-control" id="username" aria-describedby="usernameHelp">
					<div id="usernameHelp" class="form-text">El nombre de usuario debe ser &uacute;nico.</div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="email" class="form-label">Correo electr&oacute;nico</label>
					<input th:field="*{email}" type="email" class="form-control" id="email" aria-describedby="emailHelp">
					<div id="emailHelp" class="form-text">&Uacute;nicamente se puede registrar una direcci&oacute;n de correo electr&oacute;nico por usuario.</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mb-3">
					<label for="password" class="form-label">Contrace&ntilde;a</label>
					<input th:field="*{password}" type="password" class="form-control" id="password">
				</div>
				<div class="col-md-6 mb-3">
					<label for="confirmPassword" class="form-label">Repetir Contrace&ntilde;a</label>
					<input th:field="*{confirmPassword}" type="password" class="form-control" id="confirmPassword" aria-describedby="confirmPasswordHelp">
					<div id="confirmPasswordHelp" class="form-text">Las Contrace&ntilde;as deben coincidir</div>
				</div>
			</div>
			<!-- Adding Roles -->
			<div class="div mt-4 mb-3">
				<h5 class="h5 mb-2">Elegir Roles</h5>
				<th:block th:each="role : ${roles}">
					<div class="form-check">
						<input 
							class="form-check-input" 
							type="checkbox" 
							th:value="${role}" 
							th:field="*{roles}"
							th:id="${role}">
						<label 
							class="form-check-label" 
							th:for="${role}" 
							th:text="${role.nameInSpanish}"></label>
					</div>
				</th:block>
			</div>
			<hr/>
			<div class="row mt-5">
				<div class="col-md-6 mb-3">
					<label for="firstName" class="form-label">Nombre</label>
					<input th:field="*{firstName}" type="text" class="form-control" id="firstName">
				</div>
				<div class="col-md-6 mb-3">
					<label for="secondName" class="form-label">Segundo nombre</label>
					<input th:field="*{secondName}" type="text" class="form-control" id="secondName">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mb-3">
					<label for="lastname" class="form-label">Apellido paterno</label>
					<input th:field="*{lastName}" type="text" class="form-control" id="lastName">
				</div>
				<div class="col-md-6 mb-3">
					<label for="secondLastName" class="form-label">Apellido materno</label>
					<input th:field="*{secondLastName}" type="text" class="form-control" id="secondLastName">
				</div>
			</div>
			
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

</body>
</html>